* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --pause-color: hsla(160, 100, 60, 0.8);
}

body {
    background-color: darkgrey;
}

#hud {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* inset: 0; */
    background-color: rgba(200,0,0,0.1);
}

canvas {
    background-color: rgba(0,0,0,0.9);
}

#gameScreen {
    border: 1px solid black;
    width: 800px;
    height: 600px;
}